body,
html{
height: 100%;
}

header{
  max-height: 20%;
}

h1{
  font-family: 'Raleway', sans-serif;
}

header p{
  padding-right: 5px;
}

.logo{
  max-width: 100px;
}

hr{
  height:2px;
  background:#7d97ad;
}

h3{
  color: #7d97ad;
  padding-top: 5px;
}

h4{
  color: #7d97ad;
}

img{
  width: 100%;
}

.project{
  margin-right: 10px;
  width: calc((100% - 20px)/3);
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption {
    display: block;
}

#last{
  margin-right: 0;
}
