.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

hr {
  height:2px;
  background:#7d97ad;
}

h3 {
  color: #7d97ad;
  font-size: 1.75rem;
  text-align: center;
}

a {
  color: #7d97ad;
  text-decoration: none;
}

.main-img {
  width: 100%;
}

.sub-main {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.project {
  margin-right: 10px;
  width: calc((100% - 20px)/3);
}

.project img {
  height: 80%;
  width: 100%;
}

#last {
  margin-right: 0;
}

.name {
  text-align: right;
}

.avatar {
  width: 100px;
  height: 100px;
  display: inline;
  float: left;
}

@media (min-width:993px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .container {
    max-width: 850px;
  }
}

@media (min-width:577px) and (max-width:768px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width:576px) {
  .container {
    max-width: 540px;
  }

  .avatar {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }

  .name {
    text-align: center;
  }

  .project {
    width: 100%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
}
